.socials>a{
  font-size: 1.5em;
  color: black;
  opacity: 0.9;
  padding-inline: 1em;
  color: #FFF;
}

.socials>a:hover{
    scale: 120%;
    /* transition-timing-function: ease-in-out; */
    /* transition-duration: 1s; */
    color: #15F4EE;
}

#card{
    width: 50em;
}